//Define Unicode
meta(charset="utf-8")

//Define Base URL Address
base(href="/")

//Define a Compatibility with IE
meta(http-equiv="x-ua-compatible" content="ie=edge")

//Define Flexible Viewport for Mobile Devices
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

//Phone Numbers Detection
meta(name="format-detection" content="telephone=no")

//Search Engine Optimization Sources
title= title
meta(name="description" content=description)
meta(name="keywords" content=keywords)
meta(name="author" content=author)
meta(property="og:title" content=ogTitle)
meta(property="og:description" content=ogDescription)
meta(property="og:image" content="tile-1200x630px.png")
meta(name="robots" content="index, follow, noodp")

//Icon Sources
link(rel="apple-touch-icon" href="apple-touch-icon.png")

//Fonts Sources
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")

//Google Chrome - Theme Color
meta(name="theme-color" content="#F44336")

//Cascading Style Sheets Sources
//build:css css/main.min.css

// Bower Components
// bower:css
// endbower

// Application Style Sheets Sources
link(rel="stylesheet" href="css/main.css")

//endbuild