//-
    Gulp Tasks
article(id="GulpTasks" class="article")
    header.article__header
        h3.article__title.tertiary-heading= data.articles.gulpTasks.headline
    .article__body
        p.article__paragraph #{data.articles.gulpTasks.paragraph[0]} 
            strong gulpfile.js
            |  #{data.articles.gulpTasks.paragraph[1]} 
            br.br-g-1
            | #{data.articles.gulpTasks.paragraph[2]}
        table.table-striped
            thead.table-striped__thead
                tr.table-striped__row
                    th.table-striped__header.two-columns
                        | #{data.articles.gulpTasks.table.headers[0]}
                    th.table-striped__header.two-columns
                        | #{data.articles.gulpTasks.table.headers[1]}
            tbody.table-striped__body
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name sass:css
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name sass:lint
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name js:hint
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name js:test
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name jade:pug
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name pug
                        br.br-g-1
                        code.param__arg --lang pl / en
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name pug:lint
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name html
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name html:hint
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name html:minify
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name server
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name watch
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name clean
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name copy
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name images
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name images:optimized
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name images:sprite
                        br.br-g-2
                        code.param__arg --name _sprite
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name upload
                        br.br-g-3
                        code.param__arg --upload
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name build
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.even
                    td.table-striped__data.two-columns
                        code.param__name build:server
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}
                tr.table-striped__row.odd
                    td.table-striped__data.two-columns
                        code.param__name gulp / default
                    td.table-striped__data.two-columns
                        | #{data.articles.gulpTasks.paragraph[0]}