//-
    Project Structure
article(id="ProjectStructure" class="article")
    header.article__header
        h3.article__title.tertiary-heading= data.articles.projectStructure.headline
    .article__body
        p.article__paragraph #{data.articles.projectStructure.paragraph[0][0]} 
            strong project.config.js
            |  #{data.articles.projectStructure.paragraph[0][1]} 
            strong .bowerrc
            | .
        ul.project-structure
            li
                i.directory__root
                | #{data.articles.projectStructure.paragraph[1][0]}
                ul.branch
                    li.branch__leaf-top
                        i.directory__close
                        | dist
                    li.branch__leaf
                        i.directory__close
                        | node_modules
                    li.branch__leaf-bottom
                        i.directory__open
                        | src
                        ul.branch
                            li.branch__leaf-top
                                i.directory__close
                                | bower_components
                            li.branch__leaf-bottom
                                i.directory__open
                                |css
                                ul.branch
                                    li.branch__leaf-top
                                        i.directory__open
                                        | maps
                                    li.branch__leaf-bottom
                                        i.file__css
                                        | main.css
                            li
                                i.directory__open
                                | files
                            li.branch__leaf
                                i.directory__open
                                | fonts
                            li.branch__leaf-bottom
                                i.directory__open
                                | img
                                ul.branch
                                    li.branch__leaf-top
                                        i.directory__open
                                        | sprites_sources
                                    li.branch__leaf-bottom
                                        i.file__img
                                        | projectStructure.png
                            li
                                i.directory__open
                                | js
                                ul.branch
                                    li.branch__leaf-top
                                        i.directory__open
                                        | controllers
                                    li.branch__leaf
                                        i.directory__open
                                        | directives
                                    li.branch__leaf
                                        i.directory__open
                                        | services
                                    li.branch__leaf
                                        i.file__js
                                        | app.config.js
                                    li.branch__leaf-bottom
                                        i.file__js
                                        | app.js
                            li
                                i.directory__open
                                | sass
                                ul.branch
                                    li.branch__leaf-top
                                        i.directory__open
                                        | base
                                    li.branch__leaf
                                        i.directory__open
                                        | components
                                    li.branch__leaf
                                        i.directory__open
                                        | helpers
                                    li.branch__leaf
                                        i.directory__open
                                        | layout
                                    li.branch__leaf
                                        i.directory__open
                                        | modules
                                    li.branch__leaf
                                        i.directory__open
                                        | pages
                                    li.branch__leaf-bottom
                                        i.file__sass
                                        | main.scss
                            li
                                i.directory__open
                                | template
                                ul.branch
                                    li.branch__leaf-top
                                        i.directory__open
                                        | components
                                    li.branch__leaf
                                        i.directory__open
                                        | layout
                                    li.branch__leaf
                                        i.directory__open
                                        | views
                                    li.branch__leaf-bottom
                                        i.file__pug
                                        | index.pug
                            li
                                i.directory__open
                                | views
                                ul.branch
                                    li.branch__leaf-top
                                        i.file__html
                                        | default.html
                            li
                                i.file__img
                                | apple-touch-icon.png
                            li.branch__leaf
                                i.file__xml
                                | browserconfig.xml
                            li.branch__leaf
                                i.file__xml
                                | crossdomain.xml
                            li.branch__leaf
                                i.file__img
                                | favicon.ico
                            li.branch__leaf
                                i.file__html
                                | index.html
                            li.branch__leaf
                                i.file__img
                                | tile.png
                            li.branch__leaf
                                i.file__img
                                | tile-1200x630px.png
                            li.branch__leaf-bottom
                                i.file__img
                                | tile-wide.png
                    li
                        i.directory__open
                        | test
                        ul.branch
                            li.branch__leaf-top
                                i.directory__open
                                | spec
                            li.branch__leaf-bottom
                                i.file__js
                                | karma.conf.js
                    li
                        i.file__json
                        | .bowerrc
                    li.branch__leaf
                        i.file__json
                        | bower.json
                    li.branch__leaf
                        i.file__js
                        | gulpfile.js
                    li.branch__leaf
                        i.file__json
                        | package.json
                    li.branch__leaf
                        i.file__js
                        | project.config.js
                    li.branch__leaf-bottom
                        i.file__json
                        | project.data.json
        p.article__paragraph #{data.articles.projectStructure.paragraph[2][0]} 
            strong gulpfile.js
            | .