//-
    Project Structure
article.article
    header.article__header
        h3.article__title.tertiary-heading= data.articles.projectStructure.headline
    .article__body
        p.article__paragraph #{data.articles.projectStructure.paragraph[0]} 
            strong project.config.js
            |  #{data.articles.projectStructure.paragraph[1]} 
            strong .bowerrc
            | .
        ul.project-structure
            li.directory__root= data.articles.projectStructure.paragraph[2]
                ul
                    li.directory__close dist
                    li.directory__close node_modules
                    li.directory__open src
                        ul
                            li.directory__close bower_components
                            li.directory__open css
                                ul
                                    li.directory__open maps
                                    li.file__css main.css
                            li.directory__open files
                            li.directory__open fonts
                            li.directory__open img
                                ul
                                    li.directory__open sprites_sources
                                    li.file__img projectStructure.png
                            li.directory__open js
                                ul
                                    li.directory__open controllers
                                    li.directory__open directives
                                    li.directory__open services
                                    li.file__js app.config.js
                                    li.file__js app.js
                            li.directory__open sass
                                ul
                                    li.directory__open base
                                    li.directory__open components
                                    li.directory__open helpers
                                    li.directory__open layout
                                    li.directory__open modules
                                    li.directory__open pages
                                    li.file__sass main.scss
                            li.directory__open template
                                ul
                                    li.directory__open components
                                    li.directory__open layout
                                    li.directory__open views
                                    li.file__pug index.pug
                            li.directory__open views
                                ul
                                    li.file__html default.html
                            li.file__img apple-touch-icon.png
                            li.file__xml browserconfig.xml
                            li.file__xml crossdomain.xml
                            li.file__img favicon.ico
                            li.file__html index.html
                            li.file__img tile.png
                            li.file__img tile-1200x630px.png
                            li.file__img tile-wide.png
                    li.directory__open test
                        ul
                            li.directory__open spec
                            li.file__js karma.conf.js
                    li.file__json .bowerrc
                    li.file__json bower.json
                    li.file__js gulpfile.js
                    li.file__json package.json
                    li.file__js project.config.js
                    li.file__json project.data.json
        p.article__paragraph #{data.articles.projectStructure.paragraph[3]} 
            strong gulpfile.js
            | .